th {
    background-color: red;
}

body{
background-color: chocolate;
}
a:hover {
    background-color: yellow;
}

table {
    width: 100%;
    height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;  
  flex: 1;
  background-color: chocolate;
  justify-content: space-around;
  align-items: center;
}
